# Nashville Housing Data Cleaning

Descriptions

The first block of code allows us to load the ipython-sql library and connect to the local database database Hashville_Hosing where the table Data_2013_2016 is located.

In [1]:
%load_ext sql
%config SqlMagic.displaycon = False

Please note that column 9 to column to column 19 will be excluded as over half of the data are missing from these columns in the original dataset, so there is no reason to include these columns.

For the purpose of demonstration, we will only clean and transform the first 8 columns of this dataset.

In [2]:
%%sql
IF NOT EXISTS (SELECT * FROM tempdb.sys.objects WHERE name = 'temp_data_cleaning' AND type = 'U')
BEGIN
    SELECT UniqueID, ParcelID, LandUse, PropertyAddress, SaleDate, SalePrice, LegalReference, SoldAsVacant
    INTO #temp_data_cleaning
    FROM Data_2013_2016   
END
COMMIT;

56477 rows affected.

[]

We will run the following code to display the first 10 rows of the table and identify issues in this table.

In [3]:
%%sql
select top(10) *
from #temp_data_cleaning

Done.

[(2045.0, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', datetime.datetime(2013, 4, 9, 0, 0), 240000.0, '20130412-0036474', 'No'),
 (16918.0, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', datetime.datetime(2014, 6, 10, 0, 0), 366000.0, '20140619-0053768', 'No'),
 (54582.0, '007 00 0 138.00', 'SINGLE FAMILY', '1864 FOX CHASE  DR, GOODLETTSVILLE', datetime.datetime(2016, 9, 26, 0, 0), 435000.0, '20160927-0101718', 'No'),
 (43070.0, '007 00 0 143.00', 'SINGLE FAMILY', '1853  FOX CHASE DR, GOODLETTSVILLE', datetime.datetime(2016, 1, 29, 0, 0), 255000.0, '20160129-0008913', 'No'),
 (22714.0, '007 00 0 149.00', 'SINGLE FAMILY', '1829  FOX CHASE DR, GOODLETTSVILLE', datetime.datetime(2014, 10, 10, 0, 0), 278000.0, '20141015-0095255', 'No'),
 (18367.0, '007 00 0 151.00', 'SINGLE FAMILY', '1821  FOX CHASE DR, GOODLETTSVILLE', datetime.datetime(2014, 7, 16, 0, 0), 267000.0, '20140718-0063802', 'No'),
 (19804.0, '007 14 0 002.00', 'SINGLE FAMILY', '2005  SADIE LN, GOODLETTSVILLE', datetime.datetime(2014, 8, 28, 0, 0), 171000.0, '20140903-0080214', 'No'),
 (54583.0, '007 14 0 024.00', 'SINGLE FAMILY', '1917 GRACELAND  DR, GOODLETTSVILLE', datetime.datetime(2016, 9, 27, 0, 0), 262000.0, '20161005-0105441', 'No'),
 (36500.0, '007 14 0 026.00', 'SINGLE FAMILY', '1428  SPRINGFIELD HWY, GOODLETTSVILLE', datetime.datetime(2015, 8, 14, 0, 0), 285000.0, '20150819-0083440', 'No'),
 (19805.0, '007 14 0 034.00', 'SINGLE FAMILY', '1420  SPRINGFIELD HWY, GOODLETTSVILLE', datetime.datetime(2014, 8, 29, 0, 0), 340000.0, '20140909-0082348', 'No')]

Standardise Date format
Using Alter function to change data type
Then verify the results

In [4]:
%%sql
alter table #temp_data_cleaning
alter column saledate date
commit;

select top(10) saledate
from #temp_data_cleaning

Done.
Done.

[(datetime.date(2013, 4, 9),),
 (datetime.date(2014, 6, 10),),
 (datetime.date(2016, 9, 26),),
 (datetime.date(2016, 1, 29),),
 (datetime.date(2014, 10, 10),),
 (datetime.date(2014, 7, 16),),
 (datetime.date(2014, 8, 28),),
 (datetime.date(2016, 9, 27),),
 (datetime.date(2015, 8, 14),),
 (datetime.date(2014, 8, 29),)]

Check null values

In [5]:
%%sql
select *
from #temp_data_cleaning
where UniqueID is null or ParcelID is null or LandUse is null or PropertyAddress is null or SaleDate is null or SalePrice is null or LegalReference is null or SoldAsVacant is null

Done.

[(43076.0, '025 07 0 031.00', 'SINGLE FAMILY', None, datetime.date(2016, 1, 15), 179900.0, '20160120-0005776', 'No'),
 (39432.0, '026 01 0 069.00', 'VACANT RESIDENTIAL LAND', None, datetime.date(2015, 10, 23), 153000.0, '20151028-0109602', 'No'),
 (45290.0, '026 05 0 017.00', 'SINGLE FAMILY', None, datetime.date(2016, 3, 29), 155000.0, '20160330-0029941', 'No'),
 (53147.0, '026 06 0A 038.00', 'RESIDENTIAL CONDO', None, datetime.date(2016, 8, 25), 144900.0, '20160831-0091567', 'No'),
 (43080.0, '033 06 0 041.00', 'SINGLE FAMILY', None, datetime.date(2016, 1, 4), 170000.0, '20160107-0001526', 'No'),
 (45295.0, '033 06 0A 002.00', 'SINGLE FAMILY', None, datetime.date(2016, 3, 29), 210000.0, '20160331-0030709', 'No'),
 (48731.0, '033 15 0 123.00', 'SINGLE FAMILY', None, datetime.date(2016, 5, 5), 199900.0, '20160506-0045368', 'No'),
 (50927.0, '044 05 0 135.00', 'SINGLE FAMILY', None, datetime.date(2016, 6, 15), 160000.0, '20160617-0061987', 'No'),
 (3299.0, '052 01 0 296.00', 'SINGLE FAMILY', None, datetime.date(2013, 5, 31), 79370.0, '20130620-0063114', 'No'),
 (40678.0, '042 13 0 075.00', 'SINGLE FAMILY', None, datetime.date(2015, 11, 30), 208000.0, '20151209-0123831', 'No'),
 (47293.0, '043 04 0 014.00', 'SINGLE FAMILY', None, datetime.date(2016, 4, 29), 190000.0, '20160503-0043576', 'No'),
 (22775.0, '043 09 0 074.00', 'VACANT RESIDENTIAL LAND', None, datetime.date(2014, 10, 27), 151000.0, '20141028-0099094', 'Yes'),
 (45349.0, '043 13 0 308.00', 'SINGLE FAMILY', None, datetime.date(2016, 3, 31), 155000.0, '20160405-0032445', 'No'),
 (43151.0, '052 08 0A 320.00', 'SINGLE FAMILY', None, datetime.date(2016, 1, 15), 150000.0, '20160119-0004918', 'No'),
 (36531.0, '034 03 0 059.00', 'SINGLE FAMILY', None, datetime.date(2015, 8, 13), 245000.0, '20150819-0083759', 'No'),
 (46919.0, '034 07 0B 015.00', 'VACANT RESIDENTIAL LAND', None, datetime.date(2016, 4, 27), 40000.0, '20160304-0020905', 'Yes'),
 (44264.0, '034 16 0A 004.00', 'VACANT RESIDENTIAL LAND', None, datetime.date(2016, 2, 4), 130000.0, '20160205-0011327', 'Yes'),
 (45298.0, '041 03 0A 100.00', 'SINGLE FAMILY', None, datetime.date(2016, 3, 18), 170000.0, '20160322-0027048', 'No'),
 (45774.0, '107 13 0 107.00', 'SINGLE FAMILY', None, datetime.date(2016, 3, 28), 169900.0, '20160330-0030078', 'No'),
 (14753.0, '108 07 0A 026.00', 'RESIDENTIAL CONDO', None, datetime.date(2014, 4, 15), 79900.0, '20140416-0031777', 'No'),
 (15886.0, '109 04 0A 080.00', 'VACANT RES LAND', None, datetime.date(2014, 5, 13), 255590.0, '20140514-0041276', 'No'),
 (24197.0, '110 03 0A 061.00', 'SINGLE FAMILY', None, datetime.date(2014, 11, 19), 269750.0, '20141120-0106962', 'No'),
 (51930.0, '113 14 0A 002.00', 'VACANT RESIDENTIAL LAND', None, datetime.date(2016, 7, 5), 133000.0, '20160707-0069375', 'Yes'),
 (51703.0, '114 15 0A 030.00', 'RESIDENTIAL CONDO', None, datetime.date(2016, 7, 8), 343235.0, '20160713-0071757', 'No'),
 (49886.0, '092 06 0 273.00', 'SINGLE FAMILY', None, datetime.date(2016, 6, 21), 186000.0, '20160705-0068281', 'No'),
 (27140.0, '092 06 0 282.00', 'SINGLE FAMILY', None, datetime.date(2015, 2, 20), 41500.0, '20150224-0015900', 'No'),
 (11478.0, '092 13 0 322.00', 'SINGLE FAMILY', None, datetime.date(2014, 1, 17), 269500.0, '20140122-0006168', 'No'),
 (32385.0, '092 13 0 339.00', 'SINGLE FAMILY', None, datetime.date(2015, 6, 5), 450000.0, '20150618-0058311', 'No'),
 (8126.0, '093 08 0 054.00', 'SINGLE FAMILY', None, datetime.date(2013, 9, 20), 25000.0, '20130923-0099666', 'N')]

Populate the propertyAddress column to replace the null values
Rows that have the same parcelID also share the same address

In [6]:
%%sql
update a
set a.PropertyAddress=b.PropertyAddress
from #temp_data_cleaning as a
inner join #temp_data_cleaning as b
on a.parcelID=b.ParcelID
and a.uniqueID!=b.UniqueID
where a.PropertyAddress is null
commit;

select UniqueID, ParcelID, PropertyAddress
from #temp_data_cleaning
where ParcelID='025 07 0 031.00' or ParcelID='026 01 0 069.00'

29 rows affected.
Done.

[(38077.0, '025 07 0 031.00', '410  ROSEHILL CT, GOODLETTSVILLE'),
 (43076.0, '025 07 0 031.00', '410  ROSEHILL CT, GOODLETTSVILLE'),
 (22721.0, '026 01 0 069.00', '141  TWO MILE PIKE, GOODLETTSVILLE'),
 (39432.0, '026 01 0 069.00', '141  TWO MILE PIKE, GOODLETTSVILLE')]

Find duplicates

In [7]:
%%sql
select a.*
from #temp_data_cleaning as a
join (select UniqueID, count(*) as count
from #temp_data_cleaning
group by UniqueID
having count(*)>1) as b
on a.UniqueID = b.UniqueID

0 rows affected.

[]

In [8]:
%%sql
select parcelid, propertyaddress, saledate, saleprice, legalreference, count(*) as duplicateCount
from #temp_data_cleaning
group by parcelid, propertyaddress, saledate, saleprice, legalreference
having count(*) >1

Done.

[('081 02 0 144.00', '1728  PECAN ST, NASHVILLE', datetime.date(2015, 2, 2), 57000.0, '20150205-0010843', 2),
 ('081 07 0 265.00', '1806  15TH AVE N, NASHVILLE', datetime.date(2015, 2, 17), 65000.0, '20150223-0015122', 2),
 ('081 10 0 313.00', '1626  25TH AVE N, NASHVILLE', datetime.date(2015, 2, 20), 35000.0, '20150224-0015904', 2),
 ('081 11 0 168.00', '1710  DR D B TODD JR BLVD, NASHVILLE', datetime.date(2015, 2, 13), 44500.0, '20150218-0013602', 2),
 ('081 11 0 495.00', '1718  ARTHUR AVE, NASHVILLE', datetime.date(2015, 2, 9), 36500.0, '20150210-0012450', 2),
 ('081 15 0 263.00', '1520  14TH AVE N, NASHVILLE', datetime.date(2015, 2, 12), 55000.0, '20150218-0013742', 2),
 ('081 15 0 472.00', '1818 B  SCOVEL ST, NASHVILLE', datetime.date(2015, 2, 20), 35000.0, '20150223-0015257', 2),
 ('090 08 0 191.00', '743  CROLEY DR, NASHVILLE', datetime.date(2015, 2, 13), 169000.0, '20150219-0014430', 2),
 ('090 11 0A 030.00', '515  BASSWOOD AVE, NASHVILLE', datetime.date(2015, 2, 5), 60000.0, '20150209-0011960', 2),
 ('090 12 0 091.00', '501  FOUNDRY DR, NASHVILLE', datetime.date(2015, 2, 18), 208000.0, '20150223-0015576', 2),
 ('090 15 0 072.00', '455  ANNEX AVE, NASHVILLE', datetime.date(2015, 2, 24), 211000.0, '20150225-0016255', 2),
 ('091 02 0 029.00', '6203  NEW YORK AVE, NASHVILLE', datetime.date(2015, 2, 19), 116000.0, '20150223-0015491', 2),
 ('091 04 0 046.00', '1038  40TH AVE N, NASHVILLE', datetime.date(2015, 2, 23), 40000.0, '20150227-0016978', 2),
 ('091 06 0 298.00', '5610  KENTUCKY AVE, NASHVILLE', datetime.date(2015, 2, 4), 345000.0, '20150209-0011885', 2),
 ('091 07 0 081.00', '5312  TENNESSEE AVE, NASHVILLE', datetime.date(2015, 2, 3), 112897.0, '20150206-0011322', 2),
 ('091 07 0 167.00', '4710  KENTUCKY AVE, NASHVILLE', datetime.date(2015, 2, 6), 210000.0, '20150210-0012184', 2),
 ('091 07 0 199.00', '5300  KENTUCKY AVE, NASHVILLE', datetime.date(2015, 2, 6), 160000.0, '20150211-0012820', 2),
 ('091 07 0 291.00', '5210 A  MICHIGAN AVE, NASHVILLE', datetime.date(2015, 2, 5), 310000.0, '20150213-0013476', 2),
 ('091 07 0 389.00', '5301 A  LOUISIANA AVE, NASHVILLE', datetime.date(2015, 2, 10), 324900.0, '20150213-0011337', 2),
 ('091 07 0 389.00', '5301 A  LOUISIANA AVE, NASHVILLE', datetime.date(2015, 2, 10), 324900.0, '20150213-0013370', 2),
 ('091 07 0 393.00', '5222  KENTUCKY AVE, NASHVILLE', datetime.date(2015, 2, 6), 160000.0, '20150211-0012820', 2),
 ('091 08 0 056.00', '1011  43RD AVE N, NASHVILLE', datetime.date(2015, 2, 23), 69900.0, '20150227-0017102', 2),
 ('091 08 0F 001.00', '4609 B  KENTUCKY AVE, NASHVILLE', datetime.date(2015, 2, 24), 325000.0, '20150225-0016585', 2),
 ('091 08 0F 002.00', '4609 A  KENTUCKY AVE, NASHVILLE', datetime.date(2015, 2, 6), 317775.0, '20150224-0015838', 2),
 ('091 10 0 379.00', '906  DELRAY DR, NASHVILLE', datetime.date(2015, 2, 13), 120000.0, '20150218-0014209', 2),
 ('091 11 0 066.00', '4908  ILLINOIS AVE, NASHVILLE', datetime.date(2015, 2, 23), 145000.0, '20150225-0016295', 2),
 ('091 12 0 083.00', '4512  GEORGIA AVE, NASHVILLE', datetime.date(2015, 2, 24), 270000.0, '20150227-0017024', 2),
 ('091 12 0E 004.00', '4403 A  GEORGIA AVE, NASHVILLE', datetime.date(2015, 2, 13), 235000.0, '20150220-0014585', 2),
 ('091 12 0N 001.00', '713  44TH AVE N, NASHVILLE', datetime.date(2015, 2, 17), 319900.0, '20150224-0015655', 2),
 ('092 06 0 282.00', '815  31ST AVE N, NASHVILLE', datetime.date(2015, 2, 20), 41500.0, '20150224-0015900', 2),
 ('098 05 0B 051.00', '5755  S NEW HOPE RD, HERMITAGE', datetime.date(2015, 2, 6), 228000.0, '20150210-0012384', 2),
 ('098 06 0A 110.00', '2033  HAWKS NEST DR, HERMITAGE', datetime.date(2015, 2, 23), 271500.0, '20150226-0016662', 2),
 ('098 06 0A 261.00', '1928  HAWKS NEST DR, HERMITAGE', datetime.date(2015, 2, 25), 270500.0, '20150227-0016944', 2),
 ('098 06 0B 137.00', '1207  CHICKADEE CIR, HERMITAGE', datetime.date(2015, 2, 26), 297000.0, '20150227-0017053', 2),
 ('098 09 0B 009.00', '108  WINDCHASE RUN, HERMITAGE', datetime.date(2015, 2, 18), 210000.0, '20150225-0016199', 2),
 ('098 13 0A 006.00', '4721  CAPE HOPE PASS, HERMITAGE', datetime.date(2015, 2, 2), 240000.0, '20150205-0010956', 2),
 ('098 13 0C 200.00', '3420  EARHART RD, MOUNT JULIET', datetime.date(2015, 2, 6), 327900.0, '20150211-0012665', 2),
 ('102 03 0 053.00', '510  CONTINENTAL DR, NASHVILLE', datetime.date(2015, 2, 20), 160000.0, '20150224-0015666', 2),
 ('107 13 0A 026.00', '926  COARSEY DR, NASHVILLE', datetime.date(2014, 2, 5), 25000.0, '20140207-0011111', 2),
 ('107 14 0 157.00', '1003  BRILEY PKWY, NASHVILLE', datetime.date(2015, 2, 12), 80000.0, '20150219-0014347', 2),
 ('108 08 0 114.00', '3121  E LAKE DR, NASHVILLE', datetime.date(2015, 2, 6), 98000.0, '20150218-0014165', 2),
 ('108 12 0B 031.00', '3124  HARBORWOOD DR, NASHVILLE', datetime.date(2015, 2, 13), 230000.0, '20150218-0013646', 2),
 ('108 12 0B 113.00', '1812  SUMMERLAKE DR, NASHVILLE', datetime.date(2015, 2, 3), 219900.0, '20150205-0010946', 2),
 ('108 16 0 105.00', '1608  WESTERN SHORE DR, NASHVILLE', datetime.date(2015, 2, 4), 136000.0, '20150206-0011342', 2),
 ('109 04 0A 038.00', '2800  JENOAKS PASS, HERMITAGE', datetime.date(2015, 2, 5), 246623.0, '20150226-0016623', 2),
 ('110 03 0A 005.00', '2616  LAKESIDE MEADOWS DR, MOUNT JULIET', datetime.date(2014, 2, 5), 65237.0, '20140206-0010606', 2),
 ('110 03 0A 050.00', '2636  LAKESIDE MEADOWS DR, MOUNT JULIET', datetime.date(2015, 2, 2), 265000.0, '20150212-0012982', 2),
 ('114 08 0A 008.00', '208  WESLEY CT, NASHVILLE', datetime.date(2015, 2, 13), 247820.0, '20150218-0013701', 2),
 ('114 14 0A 022.00', '309  DOGWOOD TRL, NASHVILLE', datetime.date(2015, 2, 18), 303000.0, '20150224-0015662', 2),
 ('114 14 0A 070.00', '232  DEER PT, NASHVILLE', datetime.date(2015, 2, 12), 340000.0, '20150220-0014847', 2),
 ('119 16 0 080.00', '934  DRUMMOND DR, NASHVILLE', datetime.date(2015, 2, 13), 139000.0, '20150218-0013634', 2),
 ('119 16 0 084.00', '1006  DRUMMOND DR, NASHVILLE', datetime.date(2015, 2, 17), 80000.0, '20150218-0014086', 2),
 ('120 05 0 183.00', '1304  WINTHORNE DR, NASHVILLE', datetime.date(2015, 2, 12), 130000.0, '20150218-0013626', 2),
 ('120 09 0 064.00', '428  GLENPARK DR, NASHVILLE', datetime.date(2015, 2, 13), 138000.0, '20150218-0013804', 2),
 ('120 10 0 077.00', '414  WEAVER DR, NASHVILLE', datetime.date(2015, 2, 10), 198000.0, '20150212-0012998', 2),
 ('122 01 0A 139.00', '2036  BRANCH OAK TRL, NASHVILLE', datetime.date(2015, 2, 12), 255000.0, '20150219-0014479', 2),
 ('122 15 0A 098.00', '4001  ANDERSON RD, NASHVILLE', datetime.date(2014, 2, 4), 115000.0, '20140205-0010088', 2),
 ('126 14 0A 007.00', '8528  BEAUTIFUL VALLEY DR, NASHVILLE', datetime.date(2015, 2, 13), 340825.0, '20150218-0014199', 2),
 ('126 14 0A 010.00', '8553  BEAUTIFUL VALLEY DR, NASHVILLE', datetime.date(2015, 2, 19), 318587.0, '20150220-0014957', 2),
 ('126 16 0A 415.00', '1437  BENDING RIVER DR, NASHVILLE', datetime.date(2015, 2, 11), 217000.0, '20150212-0013149', 2),
 ('135 10 0C 055.00', '3009  SKYVALLEY GRV, NASHVILLE', datetime.date(2014, 2, 7), 170000.0, '20140207-0011103', 2),
 ('135 10 0E 014.00', '1129  RANSOM WAY, NASHVILLE', datetime.date(2015, 2, 13), 118900.0, '20150224-0015807', 2),
 ('135 10 0E 020.00', '1023  CAPITAL FUNDS CT, NASHVILLE', datetime.date(2015, 2, 6), 118981.0, '20150210-0012380', 2),
 ('135 10 0E 021.00', '1025  CAPITAL FUNDS CT, NASHVILLE', datetime.date(2015, 2, 6), 118981.0, '20150210-0012389', 2),
 ('135 12 0B 074.00', '2008  NASHBORO BLVD, NASHVILLE', datetime.date(2014, 2, 3), 125000.0, '20140207-0010898', 2),
 ('135 12 0C 010.00', '1979  NASHBORO BLVD, NASHVILLE', datetime.date(2015, 2, 13), 119000.0, '20150220-0014796', 2),
 ('135 16 0A 110.00', '2504  RAVINE DR, NASHVILLE', datetime.date(2015, 2, 9), 170000.0, '20150212-0013022', 2),
 ('136 05 0A 037.00', '2929  HARBOR LIGHTS DR, NASHVILLE', datetime.date(2015, 2, 26), 176000.0, '20150227-0016855', 2),
 ('136 06 0 070.00', '284  CLEARLAKE DR W, NASHVILLE', datetime.date(2015, 2, 20), 187400.0, '20150223-0015515', 2),
 ('136 13 0 148.00', '2697  PARK DALE DR, NASHVILLE', datetime.date(2015, 2, 23), 103500.0, '20150226-0016521', 2),
 ('148 08 0 215.00', '4649  LONG BR, ANTIOCH', datetime.date(2015, 2, 20), 93900.0, '20150225-0016074', 2),
 ('149 03 0 035.00', '2522  EDGE O LAKE DR, NASHVILLE', datetime.date(2015, 2, 11), 153000.0, '20150212-0012952', 2),
 ('149 03 0 093.00', '2424  SCOTT VALLEY DR, NASHVILLE', datetime.date(2015, 2, 17), 68500.0, '20150220-0014671', 2),
 ('149 04 0A 010.00', '908  TOWNVIEW PL, NASHVILLE', datetime.date(2015, 2, 6), 138900.0, '20150210-0012194', 2),
 ('149 10 0A 008.00', '2837  RADER RIDGE CT, ANTIOCH', datetime.date(2015, 2, 13), 160000.0, '20150223-0015514', 2),
 ('149 15 0A 418.00', '3044  BROMLEY WAY, ANTIOCH', datetime.date(2015, 2, 12), 179900.0, '20150223-0015251', 2),
 ('150 02 0 255.00', '2960  NAUTILUS DR, NASHVILLE', datetime.date(2014, 2, 3), 108000.0, '20140204-0009995', 2),
 ('150 03 0 398.00', '820  DRESDEN CT, ANTIOCH', datetime.date(2015, 2, 26), 142000.0, '20150227-0017035', 2),
 ('150 03 0 442.00', '3412  WESTCLIFFE CT, ANTIOCH', datetime.date(2015, 2, 2), 145500.0, '20150204-0010488', 2),
 ('150 04 0 144.00', '1005  ESTURBRIDGE CT, ANTIOCH', datetime.date(2015, 2, 13), 180000.0, '20150213-0013547', 2),
 ('150 05 0 048.00', '428  OWENDALE DR, ANTIOCH', datetime.date(2015, 2, 19), 136500.0, '20150219-0014520', 2),
 ('150 05 0 054.00', '452  OWENDALE DR, ANTIOCH', datetime.date(2015, 2, 13), 140000.0, '20150224-0015741', 2),
 ('150 05 0 353.00', '365  CEDARCLIFF RD, ANTIOCH', datetime.date(2015, 2, 10), 127000.0, '20150220-0014765', 2),
 ('150 07 0 181.00', '3140  COUNTRY MEADOW RD, ANTIOCH', datetime.date(2015, 2, 18), 145000.0, '20150223-0015167', 2),
 ('150 09 0A 028.00', '3313  CALAIS CIR, ANTIOCH', datetime.date(2015, 2, 13), 134500.0, '20150220-0014659', 2),
 ('151 09 0B 190.00', '5572  DORY DR, ANTIOCH', datetime.date(2015, 2, 25), 157000.0, '20150226-0016788', 2),
 ('163 02 0B 103.00', '265  TOOK DR, ANTIOCH', datetime.date(2015, 2, 5), 239900.0, '20150209-0011686', 2),
 ('163 05 0B 203.00', '5170  HICKORY HOLLOW PKWY, ANTIOCH', datetime.date(2015, 2, 20), 105000.0, '20150226-0016502', 2),
 ('163 11 0B 081.00', '305  ASH FORGE DR, ANTIOCH', datetime.date(2014, 2, 3), 86000.0, '20140207-0011121', 2),
 ('163 16 0A 174.00', '5963  MONROE XING, ANTIOCH', datetime.date(2014, 2, 6), 104900.0, '20140207-0011046', 2),
 ('164 07 0A 139.00', '312  GROVEDALE TRCE, ANTIOCH', datetime.date(2015, 2, 20), 200115.0, '20150223-0015523', 2),
 ('164 07 0A 163.00', '1713  PORCHREST WAY, ANTIOCH', datetime.date(2015, 2, 4), 50000.0, '20150206-0011259', 2),
 ('164 07 0A 168.00', '1704  PORCHREST WAY, ANTIOCH', datetime.date(2015, 2, 4), 50000.0, '20150206-0011259', 2),
 ('164 07 0A 192.00', '1809  HILLPOINT CIR, ANTIOCH', datetime.date(2015, 2, 12), 159722.0, '20150224-0015750', 2),
 ('164 07 0A 208.00', '1808  HILLPOINT CIR, ANTIOCH', datetime.date(2015, 2, 13), 174000.0, '20150224-0015745', 2),
 ('164 10 0A 116.00', '4017  PINEORCHARD PL, ANTIOCH', datetime.date(2015, 2, 11), 159000.0, '20150218-0013619', 2),
 ('164 10 0A 410.00', '4521  SANDPIPER LN, ANTIOCH', datetime.date(2015, 2, 26), 189000.0, '20150227-0017167', 2),
 ('165 05 0A 106.00', '813  POINT BREAK CR S, ANTIOCH', datetime.date(2015, 2, 13), 123600.0, '20150220-0014718', 2),
 ('175 06 0A 001.00', '5011  PRESERVE BLVD, ANTIOCH', datetime.date(2015, 2, 2), 187000.0, '20150203-0010184', 2),
 ('175 06 0A 026.00', '904  BIRCHMILL PT S, ANTIOCH', datetime.date(2014, 2, 3), 112000.0, '20140205-0010116', 2),
 ('175 06 0A 121.00', '5161  PRESERVE BLVD, ANTIOCH', datetime.date(2015, 2, 10), 160000.0, '20150213-0013533', 2),
 ('176 01 0 017.00', '3848  ROUND ROCK DR, ANTIOCH', datetime.date(2015, 2, 13), 152000.0, '20150220-0014969', 2),
 ('176 01 0A 104.00', '6829  HICKORY RIM CT, ANTIOCH', datetime.date(2015, 2, 20), 185000.0, '20150226-0016625', 2),
 ('176 05 0B 007.00', '500  HICKORY WOODS WAY, ANTIOCH', datetime.date(2015, 2, 2), 137500.0, '20150204-0010405', 2)]

Delete duplicates

In [9]:
%%sql
with duplicateCTE as 
(
	select *, ROW_NUMBER() 
	over (partition by parcelid, propertyaddress, saledate, saleprice, legalreference order by uniqueid) as duplicateCount
	from #temp_data_cleaning
)


delete from duplicateCTE
where duplicateCount > 1
commit;

104 rows affected.

[]

Validate

In [10]:
%%sql
select parcelid, propertyaddress, saledate, saleprice, legalreference, count(*) as duplicateCount
from #temp_data_cleaning
group by parcelid, propertyaddress, saledate, saleprice, legalreference
having count(*) >1

0 rows affected.

[]

Breaking property address into 2 different columns using substring

In [11]:
%%sql
alter table #temp_data_cleaning
add PropertyStreet nvarchar(255), PropertyCity nvarchar(255)
commit;

update #temp_data_cleaning
set 
PropertyStreet = 
	substring(PropertyAddress, 
	1, 
	charindex(',', PropertyAddress)-1),
PropertyCity = 
	substring(PropertyAddress, 
	charindex(',', PropertyAddress)+1, 
	len(PropertyAddress))
commit;

Done.
56373 rows affected.

[]

Breaking OwerAddress into 3 different columns

%%sql
alter table #temp_data_cleaning
add OwnerStreet nvarchar(255), OwnerCity nvarchar(255), OwnerState nvarchar(255)
commit;

update #temp_data_cleaning
set 
OwnerStreet = 
	substring(OwnerAddress, 
	1, 
	charindex(',', OwnerAddress)-1),
OwnerCity = 
	substring(OwnerAddress, 
	charindex(',', OwnerAddress)+2, 
	charindex(',', OwnerAddress, charindex(',', OwnerAddress) + 1) -charindex(',', OwnerAddress)-2),
OwnerState = 
	substring(OwnerAddress, 
	charindex(',', OwnerAddress, charindex(',', OwnerAddress) + 1) + 2, 
	len(OwnerAddress) - charindex(',', OwnerAddress, charindex(',', OwnerAddress) + 1) - 1)
	commit;

Verify the result

In [12]:
%%sql
select top(5) PropertyAddress, PropertyStreet, PropertyCity
from #temp_data_cleaning

Done.

[('1808  FOX CHASE DR, GOODLETTSVILLE', '1808  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1832  FOX CHASE DR, GOODLETTSVILLE', '1832  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1864 FOX CHASE  DR, GOODLETTSVILLE', '1864 FOX CHASE  DR', ' GOODLETTSVILLE'),
 ('1853  FOX CHASE DR, GOODLETTSVILLE', '1853  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1829  FOX CHASE DR, GOODLETTSVILLE', '1829  FOX CHASE DR', ' GOODLETTSVILLE')]

Check data consistancy

In [13]:
%%sql
select top (10) * from #temp_data_cleaning

Done.

[(2045.0, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', datetime.date(2013, 4, 9), 240000.0, '20130412-0036474', 'No', '1808  FOX CHASE DR', ' GOODLETTSVILLE'),
 (16918.0, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', datetime.date(2014, 6, 10), 366000.0, '20140619-0053768', 'No', '1832  FOX CHASE DR', ' GOODLETTSVILLE'),
 (54582.0, '007 00 0 138.00', 'SINGLE FAMILY', '1864 FOX CHASE  DR, GOODLETTSVILLE', datetime.date(2016, 9, 26), 435000.0, '20160927-0101718', 'No', '1864 FOX CHASE  DR', ' GOODLETTSVILLE'),
 (43070.0, '007 00 0 143.00', 'SINGLE FAMILY', '1853  FOX CHASE DR, GOODLETTSVILLE', datetime.date(2016, 1, 29), 255000.0, '20160129-0008913', 'No', '1853  FOX CHASE DR', ' GOODLETTSVILLE'),
 (22714.0, '007 00 0 149.00', 'SINGLE FAMILY', '1829  FOX CHASE DR, GOODLETTSVILLE', datetime.date(2014, 10, 10), 278000.0, '20141015-0095255', 'No', '1829  FOX CHASE DR', ' GOODLETTSVILLE'),
 (18367.0, '007 00 0 151.00', 'SINGLE FAMILY', '1821  FOX CHASE DR, GOODLETTSVILLE', datetime.date(2014, 7, 16), 267000.0, '20140718-0063802', 'No', '1821  FOX CHASE DR', ' GOODLETTSVILLE'),
 (19804.0, '007 14 0 002.00', 'SINGLE FAMILY', '2005  SADIE LN, GOODLETTSVILLE', datetime.date(2014, 8, 28), 171000.0, '20140903-0080214', 'No', '2005  SADIE LN', ' GOODLETTSVILLE'),
 (54583.0, '007 14 0 024.00', 'SINGLE FAMILY', '1917 GRACELAND  DR, GOODLETTSVILLE', datetime.date(2016, 9, 27), 262000.0, '20161005-0105441', 'No', '1917 GRACELAND  DR', ' GOODLETTSVILLE'),
 (36500.0, '007 14 0 026.00', 'SINGLE FAMILY', '1428  SPRINGFIELD HWY, GOODLETTSVILLE', datetime.date(2015, 8, 14), 285000.0, '20150819-0083440', 'No', '1428  SPRINGFIELD HWY', ' GOODLETTSVILLE'),
 (19805.0, '007 14 0 034.00', 'SINGLE FAMILY', '1420  SPRINGFIELD HWY, GOODLETTSVILLE', datetime.date(2014, 8, 29), 340000.0, '20140909-0082348', 'No', '1420  SPRINGFIELD HWY', ' GOODLETTSVILLE')]

Check ParcellID column
15 length = normal
16 length = rows without data after column 9

In [14]:
%%sql
SELECT LEN(ParcelID) AS ParcelID_Length, COUNT(DISTINCT ParcelID) AS Distinct_Count
FROM #temp_data_cleaning
GROUP BY LEN(ParcelID);

Done.

[(15, 23370), (16, 25189)]

Check LandUse column

In [15]:
%%sql
Select LandUse, count(*)
from #temp_data_cleaning
group by LandUse
order by LandUse asc

Done.

[('APARTMENT: LOW RISE (BUILT SINCE 1960)', 2),
 ('CHURCH', 33),
 ('CLUB/UNION HALL/LODGE', 1),
 ('CONDO', 247),
 ('CONDOMINIUM OFC  OR OTHER COM CONDO', 35),
 ('CONVENIENCE MARKET WITHOUT GAS', 1),
 ('DAY CARE CENTER', 2),
 ('DORMITORY/BOARDING HOUSE', 19),
 ('DUPLEX', 1372),
 ('FOREST', 10),
 ('GREENBELT', 10),
 ('GREENBELT/RES\r\nGRRENBELT/RES', 3),
 ('LIGHT MANUFACTURING', 1),
 ('METRO OTHER THAN OFC, SCHOOL,HOSP, OR PARK', 1),
 ('MOBILE HOME', 20),
 ('MORTUARY/CEMETERY', 1),
 ('NIGHTCLUB/LOUNGE', 1),
 ('NON-PROFIT CHARITABLE SERVICE', 2),
 ('OFFICE BLDG (ONE OR TWO STORIES)', 2),
 ('ONE STORY GENERAL RETAIL STORE', 1),
 ('PARKING LOT', 11),
 ('PARSONAGE', 6),
 ('QUADPLEX', 39),
 ('RESIDENTIAL COMBO/MISC', 95),
 ('RESIDENTIAL CONDO', 14064),
 ('RESTURANT/CAFETERIA', 2),
 ('SINGLE FAMILY', 34119),
 ('SMALL SERVICE SHOP', 1),
 ('SPLIT CLASS', 17),
 ('STRIP SHOPPING CENTER', 1),
 ('TERMINAL/DISTRIBUTION WAREHOUSE', 2),
 ('TRIPLEX', 92),
 ('VACANT COMMERCIAL LAND', 17),
 ('VACANT RES LAND', 1549),
 ('VACANT RESIDENTIAL LAND', 3540),
 ('VACANT RESIENTIAL LAND', 3),
 ('VACANT RURAL LAND', 2),
 ('VACANT ZONED MULTI FAMILY', 2),
 ('ZERO LOT LINE', 1047)]

Fix inconsistant data and typo
GREENBELT/RESGRRENBELT/RES
VACANT RESIENTIAL LAND

In [16]:
%%sql
update #temp_data_cleaning
set LandUse = 'GREENBELT/RES'
where LandUse like '%GRRENBELT/RES'
commit;

update #temp_data_cleaning
set LandUse = 'VACANT RESIDENTIAL LAND'
where LandUse ='VACANT RESIENTIAL LAND'
commit;

3 rows affected.
3 rows affected.

[]

Validate the result

In [17]:
%%sql
Select LandUse, count(*)
from #temp_data_cleaning
where LandUse = 'GREENBELT/RES' or LandUse like '%GRRENBELT/RES' or LandUse = 'VACANT RESIDENTIAL LAND' or LandUse = 'VACANT RESIENTIAL LAND'
group by LandUse
order by LandUse asc

Done.

[('GREENBELT/RES', 3), ('VACANT RESIDENTIAL LAND', 3543)]

Check SaleDate
The ISDATE() function checks whether a string is a valid date or not. It returns 1 if the expression is a valid date, otherwise 0
CONVERT(varchar, SaleDate, 121) converts the SaleDate column to a string in the format 'YYYY-MM-DD' (which is style 121)

In [18]:
%%sql
SELECT SaleDate
FROM #temp_data_cleaning
WHERE ISDATE(CONVERT(varchar, SaleDate, 121)) = 0;

0 rows affected.

[]

Check SalePrice format

In [19]:

%%sql
SELECT SalePrice
FROM #temp_data_cleaning
WHERE SalePrice NOT LIKE '%[0-9.0-9]'

0 rows affected.

[]

Check LegalReference length

In [20]:
%%sql
SELECT LegalReference AS LegalReference_Length, COUNT(DISTINCT ParcelID) AS Distinct_Count
FROM #temp_data_cleaning
GROUP BY LEN(LegalReference);

(pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Column '#temp_data_cleaning.LegalReference' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause. (8120) (SQLExecDirectW)")
[SQL: SELECT LegalReference AS LegalReference_Length, COUNT(DISTINCT ParcelID) AS Distinct_Count
FROM #temp_data_cleaning
GROUP BY LEN(LegalReference);]
(Background on this error at: https://sqlalche.me/e/20/f405)

It seems 16 character is the standard format, however unable to verify, in real world senario this will be report back to the data owner

In [21]:
%%sql
SELECT * 
FROM #temp_data_cleaning
WHERE LEN(LegalReference) !=16

Done.

[(42865.0, '128 13 0A 158.00', 'RESIDENTIAL CONDO', '158  WESTFIELD DR, NASHVILLE', datetime.date(2016, 1, 28), 108000.0, '-2016946', 'No', '158  WESTFIELD DR', ' NASHVILLE'),
 (43048.0, '059 15 0A 147.00', 'SINGLE FAMILY', '912  BORDEAUX PL, NASHVILLE', datetime.date(2016, 1, 4), 264757.0, '20160112-00003053', 'No', '912  BORDEAUX PL', ' NASHVILLE'),
 (20017.0, '083 01 0D 001.00', 'RESIDENTIAL CONDO', '1118 A  SHARPE AVE, NASHVILLE', datetime.date(2014, 8, 29), 419240.0, '-2022158', 'No', '1118 A  SHARPE AVE', ' NASHVILLE'),
 (46422.0, '104 10 0 154.00', 'VACANT RESIDENTIAL LAND', '3206  OVERLOOK DR, NASHVILLE', datetime.date(2016, 4, 6), 410929.0, '20160408-00339999', 'Yes', '3206  OVERLOOK DR', ' NASHVILLE'),
 (48164.0, '104 10 0O 009.00', 'SINGLE FAMILY', '112 RANSOM  AVE, NASHVILLE', datetime.date(2016, 5, 18), 839820.0, '20160519-00503315', 'No', '112 RANSOM  AVE', ' NASHVILLE'),
 (2863.0, '104 10 0R 007.00', 'RESIDENTIAL CONDO', '607  CHESTERFIELD WAY, NASHVILLE', datetime.date(2013, 5, 17), 363320.0, '2013520-0050586', 'No', '607  CHESTERFIELD WAY', ' NASHVILLE'),
 (28415.0, '062 07 0 001.00', 'VACANT RESIDENTIAL LAND', '2929  WESTERN HILLS DR, NASHVILLE', datetime.date(2015, 3, 9), 50000.0, '20150310 -0020554', 'No', '2929  WESTERN HILLS DR', ' NASHVILLE'),
 (17927.0, '104 16 0 287.00', 'SINGLE FAMILY', '2402  OAKLAND AVE, NASHVILLE', datetime.date(2014, 7, 30), 695150.0, '-2020988', 'No', '2402  OAKLAND AVE', ' NASHVILLE'),
 (4743.0, '083 14 0 153.00', 'SINGLE FAMILY', '1801  FATHERLAND ST, NASHVILLE', datetime.date(2013, 6, 7), 449830.0, '20130610-00588852', 'No', '1801  FATHERLAND ST', ' NASHVILLE'),
 (43449.0, '136 07 0 030.00', 'SINGLE FAMILY', '117  TIMBER RIDGE DR, NASHVILLE', datetime.date(2016, 1, 14), 160000.0, '-2016598', 'No', '117  TIMBER RIDGE DR', ' NASHVILLE'),
 (33765.0, '081 08 4B 014.00', 'RESIDENTIAL CONDO', '710  BUCHANAN ST, NASHVILLE', datetime.date(2015, 6, 3), 325000.0, '-2020316', 'No', '710  BUCHANAN ST', ' NASHVILLE'),
 (18010.0, '117 09 0 078.00', 'SINGLE FAMILY', '2872  SUGARTREE RD, NASHVILLE', datetime.date(2014, 7, 30), 542000.0, '-2020879', 'No', '2872  SUGARTREE RD', ' NASHVILLE'),
 (22414.0, '117 15 0 069.00', 'DUPLEX', '1701  GLEN ECHO RD, NASHVILLE', datetime.date(2014, 10, 10), 437750.0, '20141016 -0095659', 'Yes', '1701  GLEN ECHO RD', ' NASHVILLE')]

Check SoldAsVacant

In [22]:
%%sql
Select distinct SoldAsVacant, count(*)
from #temp_data_cleaning
group by SoldAsVacant

Done.

[('N', 398), ('Yes', 4617), ('Y', 52), ('No', 51306)]

In [23]:
%%sql
UPDATE #temp_data_cleaning
SET SoldAsVacant =
CASE
    WHEN SoldAsVacant = 'Y' THEN 'Yes'
    WHEN SoldAsVacant = 'N' THEN 'No'
    ELSE SoldAsVacant
END
COMMIT;

56373 rows affected.

[]

Validate

In [24]:
%%sql
Select distinct SoldAsVacant, count(*)
from #temp_data_cleaning
group by SoldAsVacant

Done.

[('Yes', 4669), ('No', 51704)]

Check PropertyStreet (use top 10 as the list is too long)

In [25]:
%%sql
SELECT PropertyStreet
FROM #temp_data_cleaning
WHERE PropertyStreet NOT LIKE '[0-9]%[A-Za-z]%'

Done.

[('DICKERSON PIKE',),
 ('KNIGHT DR',),
 ('JOCELYN HOLLOW RD',),
 ('SUNNYBROOK DR',),
 ('EVERETT DR',),
 ('EVERETT DR',),
 ('MONROE ST',),
 ('MONROE ST',),
 ('MONROE ST',),
 ('MONROE ST',),
 ('MONROE ST',),
 ('MONROE ST',),
 ('MONROE ST',),
 ('MONROE ST',),
 ('MONROE ST',),
 ('MONROE ST',),
 ('BOSCOBEL ST',),
 ('RUSSELL ST',),
 ('RUSSELL ST',),
 ('RUSSELL ST',),
 ('  MARLBOROUGH AVE',),
 ('OLD HICKORY BLVD',),
 ('OLD HICKORY BLVD',),
 ('KIMBARK DR',),
 ('  LONE OAK RD',),
 ('SHACKLEFORD RD',),
 ('PORTER RD',),
 ('CARTER AVE',),
 ('CARTER AVE',),
 ('  ACKLEN AVE',),
 ('WESTWOOD AVE',),
 ('PENNINGTON BEND RD',),
 ('WASHINGTON AVE',),
 ('WASHINGTON AVE',),
 ('BATTERY LN',),
 ('GRANNY WHITE PIKE',),
 ('BILTMORE DR',),
 ('OUTER DR',),
 ('OUTER DR',),
 ('PATTERSON ST',),
 ('HADLEYS BEND BLVD',),
 ('  HADLEYS BEND BLVD',),
 ('BOSCOBEL ST',),
 ('PATTERSON ST',),
 ('PATTERSON ST',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('ASHLAND CITY HWY',),
 ('0',),
 ('0',),
 ('0',),
 ('0',),
 ('  LOVE JOY CT',),
 ('  WILD OAKS CT',),
 ('SAWYER BROWN RD',),
 ('CALIFORNIA AVE',),
 ('CALIFORNIA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('LOUISIANA AVE',),
 ('CARL PL',),
 ('CARL PL',),
 ('STRAIGHTWAY AVE',),
 ('CAHAL AVE',),
 ('CAHAL AVE',),
 ('CLOVERLAND DR',),
 ('HIGHWAY 70  S',),
 ('HIGHWAY 70  S',),
 ('MAXON AVE',),
 ('INDIANA AVE',),
 ('PORTER RD',),
 ('PORTER RD',),
 ('STOKES LN',),
 ('TYNE BLVD',),
 ('CLONMEL RD',),
 ('FRANKLIN PK',),
 ('FRANKLIN PK',),
 ('GRAYBAR LN',),
 ('ORIOLE PL',),
 ('ORIOLE PL',),
 ('  12TH AVE S',),
 ('EARHART RD',),
 ('BELLEVUE MANOR DR',),
 ('OLD HICKORY BLVD',)]

Unable to populate street as many ParcelID have different street names and they are all in incorrect format, report to data owner

In [26]:
%%sql

SELECT ParcelID, PropertyStreet	
from #temp_data_cleaning
where ParcelID in 
(SELECT ParcelID
FROM #temp_data_cleaning
WHERE PropertyStreet NOT LIKE '[0-9]%[A-Za-z]%')
order by ParcelID

Done.

[('025 00 0 218.00', 'DICKERSON PIKE'),
 ('049 00 0 375.00', 'KNIGHT DR'),
 ('062 00 0 262.00', 'PENNINGTON BEND RD'),
 ('063 12 0 062.00', 'HADLEYS BEND BLVD'),
 ('063 12 0 063.00', '  HADLEYS BEND BLVD'),
 ('069 06 0A 001.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 002.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 003.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 004.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 005.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 006.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 007.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 008.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 009.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 010.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 011.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 012.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 013.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 014.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 015.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 016.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 017.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 018.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 019.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 020.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 021.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 022.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 023.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 024.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 025.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 026.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 027.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 028.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 029.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 030.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 031.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 032.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 033.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 034.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 035.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 036.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 037.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 038.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 039.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 040.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 041.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 042.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 043.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 044.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 045.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 046.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 047.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 048.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 049.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 050.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 051.00', 'ASHLAND CITY HWY'),
 ('069 06 0A 052.00', 'ASHLAND CITY HWY'),
 ('072 07 0 089.00', '  LOVE JOY CT'),
 ('072 07 0 089.00', '0 LOVE JOY CT'),
 ('072 14 0 441.00', 'STRAIGHTWAY AVE'),
 ('072 14 0U 001.00', 'CAHAL AVE'),
 ('072 14 0U 002.00', 'CAHAL AVE'),
 ('072 14 0U 002.00', '1609 B CAHAL AVE'),
 ('072 16 0D 001.00', 'PORTER RD'),
 ('072 16 0D 002.00', 'PORTER RD'),
 ('072 16 0D 002.00', '1952 BPORTER  RD'),
 ('082 09 0X 001.00', 'MONROE ST'),
 ('082 09 0X 001.00', '612  MONROE ST'),
 ('082 09 0X 002.00', 'MONROE ST'),
 ('082 09 0X 002.00', '614  MONROE ST'),
 ('082 09 0X 003.00', 'MONROE ST'),
 ('082 09 0X 003.00', '616  MONROE ST'),
 ('082 09 0X 004.00', 'MONROE ST'),
 ('082 09 0X 004.00', '618  MONROE ST'),
 ('082 09 0X 005.00', 'MONROE ST'),
 ('082 09 0X 005.00', '620  MONROE ST'),
 ('082 09 0X 006.00', 'MONROE ST'),
 ('082 09 0X 006.00', '1302 A  7TH AVE N'),
 ('082 09 0X 007.00', 'MONROE ST'),
 ('082 09 0X 007.00', '1302 B  7TH AVE N'),
 ('082 09 0X 008.00', 'MONROE ST'),
 ('082 09 0X 008.00', '1304 A  7TH AVE N'),
 ('082 09 0X 009.00', 'MONROE ST'),
 ('082 09 0X 009.00', '1304 B  7TH AVE N'),
 ('082 09 0X 010.00', 'MONROE ST'),
 ('082 09 0X 010.00', '1304 C  7TH AVE N'),
 ('082 16 0I 003.00', 'BOSCOBEL ST'),
 ('082 16 0L 001.00', 'RUSSELL ST'),
 ('082 16 0L 001.00', '0 RUSSELL  ST'),
 ('082 16 0L 003.00', 'RUSSELL ST'),
 ('082 16 0L 003.00', '0 RUSSELL  ST'),
 ('082 16 0L 004.00', 'RUSSELL ST'),
 ('083 03 0 110.00', 'PORTER RD'),
 ('083 03 0M 001.00', 'CARTER AVE'),
 ('083 03 0M 001.00', '2112 ACARTER  AVE'),
 ('083 03 0M 002.00', 'CARTER AVE'),
 ('083 07 0Z 001.00', 'WASHINGTON AVE'),
 ('083 07 0Z 002.00', 'WASHINGTON AVE'),
 ('083 14 0F 001.00', 'BOSCOBEL ST'),
 ('090 08 0N 001.00', '0'),
 ('090 08 0N 002.00', '0'),
 ('091 06 0M 064.00', '310 W MILL  DR'),
 ('091 06 0M 064.00', 'CALIFORNIA AVE'),
 ('091 06 0M 065.00', '308 W MILL  DR'),
 ('091 06 0M 065.00', 'CALIFORNIA AVE'),
 ('091 06 0M 066.00', '306 W MILL  DR'),
 ('091 06 0M 066.00', 'LOUISIANA AVE'),
 ('091 06 0M 067.00', '304 W MILL  DR'),
 ('091 06 0M 067.00', 'LOUISIANA AVE'),
 ('091 06 0M 068.00', '302 W MILL  DR'),
 ('091 06 0M 068.00', 'LOUISIANA AVE'),
 ('091 06 0M 069.00', '300 W MILL  DR'),
 ('091 06 0M 069.00', 'LOUISIANA AVE'),
 ('091 06 0M 070.00', '226 W MILL  DR'),
 ('091 06 0M 070.00', 'LOUISIANA AVE'),
 ('091 06 0M 071.00', '224 W MILL  DR'),
 ('091 06 0M 071.00', 'LOUISIANA AVE'),
 ('091 06 0M 072.00', '222 W MILL  DR'),
 ('091 06 0M 072.00', 'LOUISIANA AVE'),
 ('091 06 0M 073.00', '220 W MILL  DR'),
 ('091 06 0M 073.00', 'LOUISIANA AVE'),
 ('091 06 0M 074.00', '218 W MILL  DR'),
 ('091 06 0M 074.00', 'LOUISIANA AVE'),
 ('091 06 0M 075.00', '216 W MILL  DR'),
 ('091 06 0M 075.00', 'LOUISIANA AVE'),
 ('091 06 0M 076.00', '214 W MILL  DR'),
 ('091 06 0M 076.00', 'LOUISIANA AVE'),
 ('091 06 0M 077.00', '212 W MILL  DR'),
 ('091 06 0M 077.00', 'LOUISIANA AVE'),
 ('091 06 0M 078.00', '210 W MILL DR'),
 ('091 06 0M 078.00', 'LOUISIANA AVE'),
 ('091 06 0M 079.00', '208 W MILL DR'),
 ('091 06 0M 079.00', 'LOUISIANA AVE'),
 ('091 06 0M 080.00', '206 W MILL DR'),
 ('091 06 0M 080.00', 'LOUISIANA AVE'),
 ('091 06 0M 081.00', '204 W MILL DR'),
 ('091 06 0M 081.00', 'LOUISIANA AVE'),
 ('091 06 0M 082.00', '202 W MILL DR'),
 ('091 06 0M 082.00', 'LOUISIANA AVE'),
 ('091 06 0M 083.00', '200 W MILL DR'),
 ('091 06 0M 083.00', 'LOUISIANA AVE'),
 ('091 06 0M 084.00', '128 W MILL DR'),
 ('091 06 0M 084.00', 'LOUISIANA AVE'),
 ('091 06 0M 085.00', '126 W MILL DR'),
 ('091 06 0M 085.00', 'LOUISIANA AVE'),
 ('091 06 0M 086.00', '124 W MILL DR'),
 ('091 06 0M 086.00', 'LOUISIANA AVE'),
 ('091 06 0M 087.00', '122 W MILL DR'),
 ('091 06 0M 087.00', 'LOUISIANA AVE'),
 ('091 06 0M 088.00', '120 W MILL  DR'),
 ('091 06 0M 088.00', 'LOUISIANA AVE'),
 ('091 06 0M 089.00', '118 W MILL  DR'),
 ('091 06 0M 089.00', 'LOUISIANA AVE'),
 ('091 06 0M 090.00', '116 W MILL  DR'),
 ('091 06 0M 090.00', 'LOUISIANA AVE'),
 ('091 06 0M 091.00', '114 W MILL  DR'),
 ('091 06 0M 091.00', 'LOUISIANA AVE'),
 ('091 06 0M 092.00', '112 W MILL  DR'),
 ('091 06 0M 092.00', 'LOUISIANA AVE'),
 ('091 06 0M 093.00', '110  W MILL DR'),
 ('091 06 0M 093.00', 'LOUISIANA AVE'),
 ('091 06 0M 094.00', '108  W MILL DR'),
 ('091 06 0M 094.00', 'LOUISIANA AVE'),
 ('091 06 0M 095.00', '106  W MILL DR'),
 ('091 06 0M 095.00', 'LOUISIANA AVE'),
 ('091 06 0M 096.00', '104  W MILL DR'),
 ('091 06 0M 096.00', 'LOUISIANA AVE'),
 ('091 06 0M 097.00', '102  W MILL DR'),
 ('091 06 0M 097.00', 'LOUISIANA AVE'),
 ('091 06 0M 098.00', '100  W MILL DR'),
 ('091 06 0M 098.00', 'LOUISIANA AVE'),
 ('091 06 0V 001.00', 'CARL PL'),
 ('091 06 0V 001.00', '5908 ACARL  PL'),
 ('091 06 0V 002.00', 'CARL PL'),
 ('091 06 0V 002.00', '5908 BCARL  PL'),
 ('091 10 0G 001.00', 'MAXON AVE'),
 ('091 11 0 413.00', 'INDIANA AVE'),
 ('091 11 0 413.00', '5308  INDIANA AVE'),
 ('098 00 0 211.00', 'EARHART RD'),
 ('104 06 0Q 001.00', '  MARLBOROUGH AVE'),
 ('104 11 0U 003.00', '  ACKLEN AVE'),
 ('104 14 0O 001.00', 'WESTWOOD AVE'),
 ('105 14 0P 001.00', '0'),
 ('105 14 0P 002.00', '0'),
 ('114 00 0 340.00', 'SAWYER BROWN RD'),
 ('117 08 0M 002.00', 'STOKES LN'),
 ('117 11 0 114.00', 'GRAYBAR LN'),
 ('117 15 3C 001.00', 'ORIOLE PL'),
 ('117 15 3C 002.00', 'ORIOLE PL'),
 ('117 15 3C 002.00', '4105 B  ORIOLE PL'),
 ('118 01 0Q 106.00', '  12TH AVE S'),
 ('127 00 0 244.00', 'BELLEVUE MANOR DR'),
 ('128 00 0 181.00', 'OLD HICKORY BLVD'),
 ('129 00 0 019.00', 'JOCELYN HOLLOW RD'),
 ('130 03 0 176.00', 'SUNNYBROOK DR'),
 ('130 16 0 076.00', '0  EVERETT DR'),
 ('130 16 0 076.00', '0 EVERETT  DR'),
 ('130 16 0 076.00', 'EVERETT DR'),
 ('130 16 0 077.00', 'EVERETT DR'),
 ('131 02 0 217.00', 'KIMBARK DR'),
 ('131 02 0 217.00', '1909 KIMBARK  DR'),
 ('131 03 1G 002.00', '  LONE OAK RD'),
 ('131 04 0 283.00', 'SHACKLEFORD RD'),
 ('131 11 0J 001.00', 'BATTERY LN'),
 ('131 11 0J 002.00', 'GRANNY WHITE PIKE'),
 ('131 12 0G 001.00', 'BILTMORE DR'),
 ('132 05 0R 001.00', 'OUTER DR'),
 ('132 05 0R 001.00', '4156  OUTER DR'),
 ('132 05 0R 002.00', 'OUTER DR'),
 ('132 05 0R 002.00', '4158  OUTER DR'),
 ('133 01 0 052.00', 'PATTERSON ST'),
 ('133 01 0 351.00', 'PATTERSON ST'),
 ('133 01 0 351.00', '503  PATTERSON ST'),
 ('133 01 0 355.00', 'PATTERSON ST'),
 ('142 00 0 369.00', 'HIGHWAY 70  S'),
 ('142 00 0 370.00', 'HIGHWAY 70  S'),
 ('145 00 0 153.00', 'TYNE BLVD'),
 ('146 05 0 039.00', 'CLONMEL RD'),
 ('146 10 0 080.00', 'FRANKLIN PK'),
 ('146 10 0 081.00', 'FRANKLIN PK'),
 ('159 00 0 234.00', 'OLD HICKORY BLVD'),
 ('159 00 0 234.00', '1400 OLD HICKORY  BLVD'),
 ('159 00 0 235.00', 'OLD HICKORY BLVD'),
 ('159 00 0 235.00', '1408 OLD HICKORY  BLVD'),
 ('163 07 0A 904.00', '  WILD OAKS CT'),
 ('171 00 0 202.00', 'CLOVERLAND DR')]

In [27]:
%%sql
Select distinct PropertyCity, count(*)
from #temp_data_cleaning
group by PropertyCity

Done.

[(' OLD HICKORY', 1415),
 (' WHITES CREEK', 97),
 (' MOUNT JULIET', 180),
 (' UNKNOWN', 1),
 (' JOELTON', 11),
 (' GOODLETTSVILLE', 735),
 (' ANTIOCH', 6286),
 (' BELLEVUE', 1),
 (' FRANKLIN', 1),
 (' MADISON', 2114),
 (' NASHVILLE', 40216),
 (' NOLENSVILLE', 494),
 (' HERMITAGE', 3126),
 (' BRENTWOOD', 1696)]

In [28]:
%%sql
SELECT * 
FROM #temp_data_cleaning
where ParcelID in (Select ParcelID
from #temp_data_cleaning
where PropertyCity like '%UNKNOWN%')

Done.

[(12726.0, '093 06 1B 618.00', 'RESIDENTIAL CONDO', '231  5TH AVE N, NASHVILLE', datetime.date(2014, 2, 11), 255900.0, '20140214-0013082', 'No', '231  5TH AVE N', ' NASHVILLE'),
 (46010.0, '093 06 1B 618.00', 'RESIDENTIAL CONDO', '0  5TH AVE N, UNKNOWN', datetime.date(2016, 3, 31), 298000.0, '20160404-0031713', 'No', '0  5TH AVE N', ' UNKNOWN')]

In [29]:
%%sql
UPDATE #temp_data_cleaning
set PropertyStreet = '231 5TH AVE N', PropertyCity = 'NASHVILLE'
where UniqueID = '46010.0'
commit

1 rows affected.

[]

Validate

In [30]:
%%sql
SELECT * 
FROM #temp_data_cleaning
where ParcelID ='093 06 1B 618.00'

Done.

[(12726.0, '093 06 1B 618.00', 'RESIDENTIAL CONDO', '231  5TH AVE N, NASHVILLE', datetime.date(2014, 2, 11), 255900.0, '20140214-0013082', 'No', '231  5TH AVE N', ' NASHVILLE'),
 (46010.0, '093 06 1B 618.00', 'RESIDENTIAL CONDO', '0  5TH AVE N, UNKNOWN', datetime.date(2016, 3, 31), 298000.0, '20160404-0031713', 'No', '231 5TH AVE N', 'NASHVILLE')]